.faq-item {
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    padding: 15px;
    border-radius: 5px; 
   
  }
  
  .faq-item h2 {
    color: #333;
    margin-top: 1em; 
    text-align: center;
  }
  
  .faq-section h1 {
    color: #333;
    margin-top: 1em; 
    text-align: center;
    padding-top: 3em;
  }

  .faq-item p {
    margin-top: 5px;
    text-align: center;
  }
  