<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - News</title>
  <link rel="stylesheet" href="about-us.component.css">
</head>
<!-- <body>
  <header>
    <nav>
  
    </nav>
  </header>
  <main>
    <section>
      <h1>About Us</h1>
      <p>Welcome to our news website. We aim to provide you with the latest and most reliable news from around the world.</p>
      <p>Our team consists of passionate journalists and editors dedicated to delivering accurate and insightful news coverage.</p>
      <p>Thank you for visiting our website and trusting us as your source of information.</p>
    </section>
  </main>
  <footer>
 
  </footer>
</body>
</html> -->

<section class="about">
  <h1>About Us</h1>

  <div class="about-info">
      <div class="about-img">
          <img src=
"https://st2.depositphotos.com/6789684/12262/v/450/depositphotos_122620866-stock-illustration-illustration-of-flat-icon.jpg" alt="Geeksforgeeks">
      </div>
      <div>
      <p>
         Welcome to our news website. We aim to provide you with the latest and most reliable news from around the world.
      </p>
      <p>
        Our team consists of passionate journalists and editors dedicated to delivering accurate and insightful news coverage.
      </p>
      <p>Thank you for visiting our website and trusting us as your source of information.</p>
        
      </div>
  </div>
</section>

