<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partners</title>
    <link rel="stylesheet" href="partners.component.css">
</head>
<body>
    <header>
        <h1>Our Partners</h1>
    </header>
    <main>
        <section class="partner">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/free-company-logo-design-template-f02206903dcc70505736cca7fd9c5104_screen.jpg?ts=1638867492">
            
            <p>Ls incidunt tempora delectus maxime dicta et est molestias sapiente error, blanditiis nulla. Optio nisi vel fugit? sit, amet consectetur adipisicing elit</p>
        </section>
        <section class="partner">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/company-logo-design-template-e089327a5c476ce5c70c74f7359c5898_screen.jpg?ts=1672291305">
            <!-- <h2>COMPANY</h2> -->
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti voluptates ducimus rem sed iste voluptate tempora maiores aperiam molestias praesentium</p>
        </section>

        <section class="partner">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/corporate-company-logo-design-template-2402e0689677112e3b2b6e0f399d7dc3_screen.jpg?ts=1561532453">
            <!-- <h2>SS MONOGRAM</h2> -->
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti voluptates ducimus rem sed iste voluptate tempora maiores aperiam molestias praesentium</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Your Company</p>
    </footer>
</body>
</html>
