<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/news" routerLinkActive="active">News</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/faq" routerLinkActive="active">FAQ</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/partners" routerLinkActive="active">Partners</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/technews" routerLinkActive="active" >TechNews</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/edit" routerLinkActive="active" >Create Unicorn</a>
        </li>

        <li class="nav-item login">
          <a *ngIf="!isLoggedIn" class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
        
          <a 
          *ngIf="isLoggedIn" 
          class="nav-link" 
          (click)="onLogout()"
          aria-current="page" 
          routerLink="/login">
          Logout
        </a>

        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn" class="nav-link" aria-current="page" routerLink="" routerLinkActive="active" >Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
