   <main class="container">
     <fieldset >
      <form [formGroup]="newForm">
        <legend>Create Account</legend>

        <section >
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control">
          <span *ngIf="!newForm.get('firstName').valid && newForm.get('firstName').touched" class="help-block">
           <small *ngIf="newForm.get('firstName').errors.required" class="text-danger">First name is required!</small>
            <small *ngIf="newForm.get('firstName').errors.pattern" class="text-danger">Please provide a valid first name!</small>
          </span>
        </section>

        <section >
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-control">
          <span *ngIf="!newForm.get('lastName').valid && newForm.get('lastName').touched" class="help-block">
           <small *ngIf="newForm.get('lastName').errors.required" class="text-danger">Last name is required!</small>
            <small *ngIf="newForm.get('lastName').errors.pattern" class="text-danger">Please provide a valid last name!</small>
          </span>
        </section>

        <section >
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <span *ngIf="!newForm.get('email').valid && newForm.get('email').touched" class="help-block">
           <small *ngIf="newForm.get('email').errors.required" class="text-danger">Email is required!</small>
            <small *ngIf="newForm.get('email').errors.pattern" class="text-danger">Please provide a valid email!</small>
          </span>
        </section>

        <section >
          <label for="userName">Username</label>
          <input
            type="text"
            id="userName"
            formControlName="userName"
            class="form-control">
          <span *ngIf="!newForm.get('userName').valid && newForm.get('userName').touched" class="help-block">
            <small *ngIf="newForm.get('userName').errors.required" class="text-danger">Username is required!</small>
            <small *ngIf="newForm.get('userName').errors.pattern" class="text-danger">The username must contain small letter, symbols and digits!</small>
          </span>
        </section>

        <section >
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control">
          <span *ngIf="!newForm.get('password').valid && newForm.get('password').touched" class="help-block">
           <small *ngIf="newForm.get('password').errors.required" class="text-danger">Password is required!</small>
            <small *ngIf="newForm.get('password').errors.pattern" class="text-danger">The password must contain big and small letters, symbols and digits !</small>
          </span>
        </section>

        <section >
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control">
          <span *ngIf="!newForm.get('confirmPassword').valid  && newForm.get('confirmPassword').touched" class="help-block">
          <small class="text-danger">The passwords must match!</small> </span>
        </section>

        <br>
        <button class="btn btn-primary" type="button" [disabled]="!newForm.valid" (click)="onSubmit(newForm)" >Sign up</button>
      </form>
     </fieldset>
   </main>
