main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  max-width: 400px;
  margin: auto;
  margin-top: 150px;

  h3 {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  section {
    margin-top: 20px;
  }



}
